@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 47 95% 55%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 47 95% 96%;
    --secondary-foreground: 26 83.3% 14.1%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 47 95% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 47 95% 55%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 20% 98%;
    --card: 222 47% 13%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 220 98% 61%;
    --primary-foreground: 222 47% 13%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 220 14% 65%;
    --accent: 220 14% 20%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62% 54%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 220 98% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

